<div id="media-view"
    data-role="view"
    data-title="Media"
    data-model="app.mediaService.viewModel">
    <div id="media-buttons">
         <a class="button" data-role="button" data-icon="camera" data-bind="click: takePicture">Take picture</a>
         <a class="button" data-role="button" data-icon="play" data-bind="click: takeVideo">Take video</a>
         <a class="button" data-role="button" data-icon="sounds" data-bind="click: recordAudio">Record audio</a>
         <a class="button" data-role="button" href="#">Skip</a>
    </div>
</div>