<div id="tabstrip-nearby"
        data-role="view"
        data-title="Nearby performers"
        data-show="app.nearbyService.viewModel.show"
        data-after-show="app.nearbyService.afterShow"
        data-hide="app.nearbyService.hide"
        data-model="app.nearbyService.viewModel">

        <div id="newTag"  data-bind="invisible: isLoading" class="padding-top-1">
            <a data-role="button" data-icon="add" class="button green-button" href="views/tag.html">New performer</a>
        </div>
        <h3>Do you find the performer here?</h3>
        <ul data-role="listview" data-style="inset"
            data-bind="source: nearbyDataSource,invisible: isLoading, visible: nearbyDataSource"
            data-template="nearby-template">
        </ul>

    </div>

    <script id="nearby-template" type="text/x-kendo-tmpl">
        <a class="w-item-template" href="views/actions.html?id=${id}">
            <div class="nearby-templ" data-role="button"  data-performance-id="${id}" data-bind="click: onClick">
                # if(true) { #
                    <div class="image" style="background-image: url(#= app.serverEndpoint + picture #)"  />
                # } #
                <div class="tags">
                    <strong>${times_tagged}</strong> tagged this performance
                </div><br />
                <div class="tags">
                    <strong>Last tagged:</strong>
                    #= app.nearbyService.viewModel.formatDate(last_seen) #
                </div><br />
                <div class="tags">
                    <strong>Type:</strong> ${type.name}
                </div><br/>
                <div class="tags">
                    <strong>categories:</strong>
                </div>
                # for (var i = 0; i < categories.length; i++) { #
                    <div class="tags"> #= categories[i].name # </div>
                    # if(i !== categories.length - 1) { #
                        ,
                    # } #
                # } #
            </div>
        </a>
    </script>
