<!--View Performance-->
<div
    id="view-performance"
    data-role="view"
    data-title="View Performance"
    data-show="app.performanceViewService.show"
    data-after-show="app.performanceViewService.afterShow"
    data-hide="app.performanceViewService.hide"
    data-model="app.performanceViewService.viewModel"
    data-bind="invisible: isLoading">
    <div data-bind="invisible: isLoading">
        <div class="profile-picture"><img data-bind="attr: {src: performance.picture}" /></div>
        <p>
          Type: <span data-bind="text: performance.type.name"></span><br />
          <ul id="cardsList"
                data-role="listview"
                data-bind="source: performance.categories" data-template="categories-template"></ul>

        </p>
        <div id="scrollview-container">
            <div
                data-role="scrollview"
                data-bind="source: performanceMediaDataSource"
                data-template="performance-media-template"
                data-content-height="200px">
            </div>
        </div>
        <p>
          Last Seen: <span data-bind="text: performance.last_seen"></span><br />
          Seen By: <span data-bind="text: performance.times_tagged"></span><br />
        </p>
    </div>
</div>


<!--Performance Media Template-->
<script id="performance-media-template" type="text/x-kendo-tmpl">
  <a href="views/view_image.html?url=${url}" data-role="button"><div class="photo" style="background-image: url('${url}')" data-role="page"></div></a>
</script>

<script id="categories-template" type="text/x-kendo-tmpl">
  #:name#
</script>
