/* ********************* */
/* Custom ArtVersity CSS */
/* ********************* */


/* General Styles */

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

/* View Performance */

#view-performance .profile-picture {
  float: left;
  margin: 0 1em;
}

.km-virtual-page {
  text-align: center;
}

#view-performance .photo {
  margin: 0;
  width: 200px;
  height: 200px;
  display: inline-block;
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

#scrollview-container {
  margin: 0 auto;
  padding-top: 2em;
}

#scrollview-container .km-button {
  background: none;
  border: 0;
}

/* View Image Screen */

.fullscreen-picture {
  position:relative;
  top: 100px;
  width: 100%;
}

#view-image .km-content {
  background-color: #000;
}


/* Upload Media Screen */

#media-buttons {
  padding-top: 5em;
}

#media-buttons .button {
  margin: 0 auto;
  display: block !important;
  float: none;
  clear: both;
  width: 80%;
  margin-bottom: 2em;
  vertical-align: middle;
  text-align: center;
}

/* Nearby Screen */

.nearby-templ .image {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: inline-block;
  float: left;
  margin-right: 20px;
}


.nearby-templ .tags {
  display: inline;
  max-width: 50px;
}

#newTag {
  text-align: center
}

.green-button {
  color: green;
  background-color: blue;
}

.category {
  border-radius: 360px;
  width: 90px;
  height: 90px;
  margin-left: 10px;
  float: left;
  border: 5px solid gray;
  position: relative;
  opacity: 0.5;
}

.centered {
  text-align: center;
}

.marked {
  opacity: 1;
  border-color: black;
}

.clear {
  clear: both;
}
